/* Ensure the content takes up space to the right of the sidebar */
.product-page {
  margin-left: 11em;
  padding: 1em;
  background-color: #f8f8f8;
  box-sizing: border-box;
  overflow-y: auto;
}

.product-content {
  padding-top: 9em;
  margin-left: 1em;
}

/* Table Container */
.product-table-container {
  width: 107em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

/* Table Header */
.product-table-header {
  display: flex;
  background-color: #d3d3d3;
  font-weight: bold;
  padding: 0.3em
}

/* Table Rows */
.product-table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.product-able-row:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row color */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-products {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.products-form {
  padding: 1em;
}

.popup h3 {
  margin-bottom: 20px;
}

.popup button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products-form .input-product {
  display: block;
  width: 100%; /* Optional: Makes the input take the full width of its container */
  margin-bottom: 1em; /* Adds 1em spacing between inputs */
  padding: 0.5em; /* Optional: Adds some padding inside the input for better usability */
  border: 1px solid #ccc; /* Optional: Styles the input border */
  border-radius: 4px; /* Optional: Adds rounded corners to the input */
  box-sizing: border-box; /* Ensures padding is included in width */
}


.popup button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: #ff4d4d;
}

.close-button:hover {
  background-color: #e60000;
}

.service-table-container {
  width: 100em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.service-table-container .product-table-header {
  background-color: #d3d3d3;
}

.service-table-container .product-table-row:nth-child(even) {
  background-color: #f9f9f9;
}


/* Responsive Table */
@media (max-width: 768px) {
  .table-header, .table-row {
    flex-direction: column;
  }

  .column {
    text-align: left;
    padding: 5px 0;
  }

  .column::before {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
  }
}
