/* Ensure the content takes up space to the right of the sidebar */
.product-page {
  margin-left: 11em;
  padding: 1em;
  background-color: #f8f8f8;
  box-sizing: border-box;
  overflow-y: auto;
}

.content {
  padding-top: 9em;
}

/* Table Container */
.table-container {
  width: 108em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

/* Table Header */
.table-header {
  display: flex;
  background-color: #d3d3d3;
  font-weight: bold;
  padding: 0.3em
}

/* Table Rows */
.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row color */
}

/* Columns */
.column-id {
  width: 4em;
  text-align: center;
}

.column-name,
.column-description {
  width: 5em;
  flex: 2;
  text-align: left;
}

.column-available,
.column-minimum {
  flex: 1;
  text-align: left;
}

/* Responsive Table */
@media (max-width: 768px) {
  .table-header, .table-row {
    flex-direction: column;
  }

  .column {
    text-align: left;
    padding: 5px 0;
  }

  .column::before {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
  }
}
