.requests-page {
  padding: 2rem;
  background-color: #f8f8f8;
}

.requests-content {
  width: 108em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}